@model LoginDBServices.Models.DTOs.AuthRequest
@{
    ViewData["Title"] = "Login";
}

<div class="text-danger mt-2" style="position: absolute">
    @ViewBag.Message
</div>

<div class="row mt-5 justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <h1 class="text-center">Login</h1>

        <form id="loginForm" asp-action="Auth" method="post">


            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" class="form-control" asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
