
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Bienvenido al Dashboard</h1>


<p>Página solo para administradores</p>

<a class="btn btn-primary" asp-action="Register" asp-controller="Dashboard">Registrar una nueva cuenta</a>


