@model LoginDBServices.Models.DTOs.RegisterAccountRequest;


@{
    ViewData["Title"] = "Registro";
}

<div class="row mt-5 justify-content-center">
    <div class="col-sm-12 col-md-6">
        <h1 class="text-center">Cuenta nueva</h1>
        <form asp-action="Register" method="post">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdRol"></label>
                <select class="form-control" asp-for="IdRol">
                    @if (ViewBag.Roles != null && ViewBag.Roles.Count > 0)
                    {
                        foreach (var role in ViewBag.Roles)
                        {
                            <option value="@role.IdRol">@role.Name</option>
                        }
                    }
                    else
                    {
                        <option>Al parecer no hay roles en la base de datos, agrega uno</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="IdRol"></span>
            </div>


            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="text" class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsActive"></label>
                <select class="form-control" asp-for="IsActive">
                    <option value="True">Activado</option>
                    <option value="False">Inactivo</option>
                </select>
                <span class="text-danger" asp-validation-for="IsActive"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input type="password" class="form-control" asp-for="ConfirmPassword">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Agregar</button>
        </form>
    </div>
</div>