<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-grow-1">

                @* MOSTRAR TODOS LOS MODULOS A LOS QUE TIENE ACCESO EL USUARIO ACTUAL *@

                @if (ViewBag.Modules != null && ViewBag.Modules.Count > 0)
                {
                    foreach (var module in ViewBag.Modules)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="@module.Name" asp-action="@module.Name">@module.Name</a>
                        </li>
                    }
                }


                <li class="nav-item ml-auto">
                    <form id="logoutForm" asp-controller="Login" asp-action="Logout" method="post">
                        @Html.AntiForgeryToken()

                        <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
                    </form>
                </li>

            </ul>
        </div>

    </div>
</nav>